.background-project{
  flex-direction: column;  
  display: flex;
  z-index: -2;
  background: rgb(30, 190, 115);
  background: radial-gradient(
    circle,
    rgba(30, 190, 115, 1) 0%,
    rgba(148, 187, 233, 1) 89%,
    rgba(247, 237, 209, 1) 100%
  );
  min-height: 100vh;
}

.container__paramsprofil {
  display: flex;
 
}
#trait {
  display: none;
}

#multer {
  margin: 5rem auto 2rem auto;
}
#img__multer {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.container__imgprofil {
  height: 26%;
  width: 65%;
  border-radius: 10%;
  position: relative;
  /* padding: 10px; */
  /* margin-top: 5%; */
}

#upload__img {
  margin-top: 2rem;
  padding: 15px 15px;
  border: none;
  border: 3px solid greenyellow;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  margin: 2rem auto;
}
#upload__img:hover {
  background: blue;
  color: #fff;
  border: 3px solid #fff;
}

#imgPhoto {
  width: 10%;
  padding: 5px;
  margin-top: 10%;
  background-color: greenyellow;
  border: 2px solid #000;
  border-radius: 44%;
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  right: 0px;
}

#imgPhoto:hover {
  background-color: rgb(180, 180, 180);
  border: 2px solid #111;
}

input[type="file"] {
  display: none;
}
.input_projet1 {
  width: 70%;
  /* margin: 4rem auto 0rem auto; */
  border-radius: 15px;
  padding: 10% 10%;
  border: none;
  border: 3px solid greenyellow;
}
.input_projet2 {
  width: 70%;
  margin: 4rem auto 2rem auto;

  border-radius: 15px;
  padding: 10px 10px;
  border: none;
  border: 3px solid greenyellow;
}

.input_projet1::placeholder {
  font-style: italic;
  font-weight: 800;
}
.input_projet2::placeholder {
  font-style: italic;
  font-weight: 800;
}
.container__validation input[type=text]:focus {
  width: 50%;

  border-radius: 15px;
  padding: auto;
  border: none;
  border: 3px solid red;
 
}
.container__validation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  
}

@media screen and (min-width: 1024px) {
  .container__paramsprofil {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container__imgprofil {
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__validation {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 80%;
    align-items: center;
    justify-content: center;
  }
  #trait {
    display: block;
    width: 2px;
    height: 55%;
    color: #fff;
    background: #fff;
    /* margin-top: 3rem; */
}
  
  #img__multer {
    width: 75%;
    height: 55%;
    border-radius: 5px;
}
#imgPhoto{
  
    width: 5%;
    position: absolute;
    bottom: 193px;
    right: 85px;

}
#upload__img {
  margin-top: 6rem;
 
}
.input_projet1{
  margin: 6rem auto 0rem auto;
}
.input_projet2 {
 
  margin: 6rem auto 2rem auto;

 
}
}

