.background-project {
  flex-direction: column;
  display: flex;
  z-index: -2;
  background: rgb(30, 190, 115);
  background: radial-gradient(
    circle,
    rgba(30, 190, 115, 1) 0%,
    rgba(148, 187, 233, 1) 89%,
    rgba(247, 237, 209, 1) 100%
  );
  min-height: 100vh;
}

.container__paramsprofil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#trait {
  display: none;
}

#multer {
  margin: 5rem auto 2rem auto;
}
#img__multer {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.container__imgprofil {
  height: 15%;
  width: 40%;
  /* border-radius: 10%; */
  position: relative;
  padding: 10px;
  margin-top: 5%;

  /* position: relative; */
  /* width: 200px;
  height: 200px; */
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

#upload__img {
  margin-top: 2rem;
  padding: 15px 15px;
  border: none;
  border: 3px solid greenyellow;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  margin: 2rem auto;
  background: transparent;
  transition: 0.3s;
}
#upload__img:hover {
  background: rgba(148, 187, 233, 1);
  color: #fff;
  border: 3px solid #fff;
  transition: 0.3s;
}

#imgPhoto {
  width: 10%;
  padding: 5px;
  margin-top: 10%;
  background-color: greenyellow;
  border: 2px solid #000;
  border-radius: 44%;
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  right: 0px;
}

#imgPhoto:hover {
  background-color: rgb(180, 180, 180);
  border: 2px solid #111;
}

input[type="file"] {
  display: none;
}
.input_projet1 {
  width: 70%;
  /* margin: 4rem auto 0rem auto; */
  border-radius: 15px;
  padding: 10% 10%;
  border: none;
  border: 3px solid greenyellow;
  background: transparent;
  transition: 0.3s;
}
.input_projet2 {
  width: 70%;
  margin: 4rem auto 2rem auto;

  border-radius: 15px;
  padding: 10px 10px;
  border: none;
  border: 3px solid greenyellow;
  background: transparent;
  transition: 0.3s;
}

.input_projet1::placeholder {
  font-style: italic;
  font-weight: 800;
}
.input_projet2::placeholder {
  font-style: italic;
  font-weight: 800;
}
.container__validation input[type="text"]:focus {
  width: 50%;
  border-radius: 15px;
  padding: auto;
  border: none;
  border: 3px solid red;
  transition: 0.3s;
}
.container__validation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-top: 3%;
  align-items: center;

  padding-top: 10px;
  position: relative;
  /* width: 200px;
  height: 200px; */
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

@media screen and (min-width: 1024px) {
  .container__paramsprofil {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .container__imgprofil {
    width: 45%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    margin-bottom: 4%;

    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
  .container__validation {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 60%;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
  }
  #trait {
    display: flex;
    width: 2px;
    height: 60%;
    color: #fff;
    background: #fff;
    /* margin-top: 3rem; */
  }

  #img__multer {
    margin-left: 15%;
    width: 70%;
    height: 80%;
    border-radius: 5px;
  }
  #imgPhoto {
    width: 5%;
    position: absolute;
    bottom: 193px;
    right: 85px;
  }
  #upload__img {
    margin-top: 0;
  }
  .input_projet1 {
    margin: 0;
  }
  .input_projet2 {
    margin-top: 5%;
  }
}
