.background-category {
  flex-direction: column;
  display: flex;
  z-index: -2;
  background: rgb(30, 190, 115);
  background: radial-gradient(
    circle,
    rgba(30, 190, 115, 1) 0%,
    rgba(148, 187, 233, 1) 89%,
    rgba(247, 237, 209, 1) 100%
  );
  min-height: 100vh;
}

.bouton-admin {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.category__container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
}

.container__input {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  /* css pour la vitre en verre */
  position: relative;
  /* width: 200px;
  height: 200px; */
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
  color: rgb(102, 96, 96);
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

#select__categorie {
  font-size: 0.35em;
  background: transparent;
  color: rgba(0, 255, 42, 0.753);
  font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: none;
  border: 2px solid #fff;
  padding: 15px 21px;
  border-radius: 10px;
  width: 70%;
  margin: 1rem auto;
}

.container__option {
  width: 100%;
  margin-top: 2rem;
  background: transparent;
  border-radius: 15px;
  scale: 1;
}

.container__option h2 {
  font-size: 0.5em;
  font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  margin-top: 1rem;
}

.container__option p {
  width: 90%;
  font-size: 0.5em;
  font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 1rem;
  text-align: center;
  color: #fff;
  margin: 1rem auto;
}

@media screen and (min-width: 1024px) {
  .bouton-admin {
    width: 6vw;
    height: 6vw;
  }
}

@media screen and (min-width: 1040px) {
  #select__categorie,
  .container__option h2,
  .container__option p {
    font-size: 1em;
  }
}
