.no-scroll {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  z-index: -2;
  background: rgb(30, 190, 115);
  background: radial-gradient(
    circle,
    rgba(30, 190, 115, 1) 0%,
    rgba(148, 187, 233, 1) 89%,
    rgba(247, 237, 209, 1) 100%
  );
  min-height: 100vh;
}

.scroll {
  overflow: hidden;
  width: 100vw;
  z-index: -2;
  background: rgb(30, 190, 115);
  background: radial-gradient(
    circle,
    rgba(30, 190, 115, 1) 0%,
    rgba(148, 187, 233, 1) 89%,
    rgba(247, 237, 209, 1) 100%
  );
  min-height: 100vh;
}

.accueil-part1,
.accueil-part2 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  flex-direction: column;
}

.accueil-quoi,
.accueil-image1,
.accueil-ou,
.accueil-image2 {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  margin: 2vh 0;
}

.accueil-pourquoi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  margin: 2vh 0;
}

.accueil-imageC1,
.accueil-imageC2,
.accueil-imageC3,
.accueil-imageC4,
.accueil-imageC5,
.accueil-imageC6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-timing-function: linear;
}

.accueil-imageC1 {
  opacity: 0;
  animation-name: imageCar1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.accueil-imageC2 {
  opacity: 0;
  animation-name: image2;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.accueil-imageC3 {
  opacity: 0;
  animation-name: image3;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes imageCar1 {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  30% {
    opacity: 100%;
  }
  40% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  60% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes image2 {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  30% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  60% {
    opacity: 100%;
  }
  70% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes image3 {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  30% {
    opacity: 0%;
  }
  40% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  60% {
    opacity: 0%;
  }
  70% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.accueil-imageC4 {
  opacity: 0;
  animation-name: imageCar1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.accueil-imageC5 {
  opacity: 0;
  animation-name: image2;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.accueil-imageC6 {
  opacity: 0;
  animation-name: image3;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.contenair-carrous1 {
  position: relative;
  width: 90vw;
  height: 40vh;
  margin: 2vh 0;
}

@media screen and (min-width: 1040px) {
  .accueil-part1,
  .accueil-part2 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    height: fit-content;
    flex-direction: row;
  }
  .accueil-part2 {
    flex-direction: row-reverse;
  }
  .accueil-quoi,
  .accueil-image1,
  .accueil-ou,
  .accueil-image2 {
    width: 45%;
  }
  .contenair-carrous1 {
    position: relative;
    width: 45vw;
    height: 40vh;
    margin: 2vh 0;
  }
}
