.background-accueil {
  z-index: -2;
  background: rgb(30, 190, 115);
  background: radial-gradient(
    circle,
    rgba(30, 190, 115, 1) 0%,
    rgba(148, 187, 233, 1) 89%,
    rgba(247, 237, 209, 1) 100%
  );
  min-height: 100vh;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.scroll {
  overflow: hidden;
  width: 100vw;
}

.accueil-part1,
.accueil-part2 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  flex-direction: column;
}


.accueil-quoi,
.accueil-image1,
.accueil-ou,
.accueil-image2 {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil-pourquoi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

@media screen and (min-width: 1040px)
{
.accueil-part1,
.accueil-part2 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  flex-direction: row;
}
.accueil-part2{
    flex-direction: row-reverse;
}
  
}
