.background-accueil {
  z-index: -2;
  background: rgb(30, 190, 115);
  background: radial-gradient(
    circle,
    rgba(30, 190, 115, 1) 0%,
    rgba(148, 187, 233, 1) 89%,
    rgba(247, 237, 209, 1) 100%
  );
  min-height: 100vh;
}

.accueil-part1,
.accueil-part2 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  height: fit-content;
}

.accueil-part2 {
  flex-direction: row-reverse;
}

.accueil-quoi,
.accueil-image1 {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil-ou,
.accueil-image2 {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil-pourquoi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
